<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <script src="/scripts/toggleDelete.js" defer></script>
</head>
<body>
    <button id="toggleEditBtn">Edit Categories</button>
    <a href="/categories/create">Create Category</a>
    <% categories.forEach((category) => { %>
        <h1><%= category.title %></h1>
        <a href="/categories/<%= category.id %>">Visit Category</a>
        <a href="/categories/<%= category.id%>/update">Edit Category</a>
        <form class='deleteBtn' action="/categories/<%= category.id %>/delete" method="POST" hidden>
            <button>Delete Category</button>
        </form>
    <% }) %>
</body>
</html>