<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <script src="/scripts/toggleDelete.js" defer></script>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
         <h1>My Categories</h1>
         <div class="nav">
            <button id="toggleEditBtn">Toggle Delete</button>
            <a href="/categories/create">Create Category</a>
         </div>
    </header>
    <div class="categoryContainer">
        <% categories.forEach((category) => { %>
        <div class="card">
            <h1><%= category.title %></h1>
            <a href="/categories/<%= category.id %>">Visit Category</a>
            <a href="/categories/<%= category.id%>/update">Edit Category</a>
            <form action="/categories/<%= category.id %>/delete" method="POST">
                <button class='deleteBtn' hidden>Delete Category</button>
            </form>
        </div>
    <% }) %>
    </div>
</body>
</html>