/* Everything  */

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ---------------------
|  Homepage.html style |
----------------------*/
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    inset: 0;
    background-color: burlywood;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 75%);
}
.heroText {
    font-size: 48px;
    text-align: center;
}

.button {
    margin-top: 15rem;
    border: solid black 2px;
    border-radius: 16px;
    padding: 2rem;
    background-color: bisque;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
/* ---------------------
|  Top-Content Headers |
----------------------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin-top: 12px;
}
/* ---------------------
|  diplayCategories style |
----------------------*/

.categoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    border: solid black 2px;
    padding: 60px;
    height: 400px;
    width: 300px;
    gap: 2rem;
}

/* ---------------------
|  diplayResources style |
----------------------*/
.resourceContainer {
    display: flex;
    flex-direction: column;
}

.bottomArea {
    margin-top: 10rem;
}

.resourceList {
    display: flex;
}


/* -----------------------
--Create and Update Forms/
-------------------------*/

.formBody {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    border: solid 2px black;
    padding: 48px;
    width: 500px;
    height:375px;
}
.submitForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.resourceForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.submit {
    margin-bottom: 2rem;
}
/* ---------------------
-- MORE
----------------------*/

.error {
    color: red;
}