/* Everything  */

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ---------------------
|  Homepage.html style |
----------------------*/
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    inset: 0;
    background-color: burlywood;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 75%);
}
.heroText {
    font-size: 48px;
    text-align: center;
}

.button {
    margin-top: 20rem;
    border: solid black 2px;
    border-radius: 16px;
    padding: 2rem;
    background-color: bisque;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

/* ---------------------
|  diplayItems style |
----------------------*/

.container {
    display: flex;
    height: 96vh;
    width: 96vw;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    border: solid black 2px;
    padding: 60px;
    height: 400px;
    width: 300px;
    gap: 2rem;
}


/* ---------------------
-- MORE
----------------------*/